.alert_container{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 12px;
    border-radius: 20px;
}

.alert_text {
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    max-width: 260px;
}

.alert_id {
    color: rgb(80, 80, 80);
}

.alert_btn {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.green{
    background-color: rgb(164, 247, 96);
}

.yellow{
    background-color: rgb(245, 247, 96);
}

.red{
    background-color: rgb(247, 96, 96);
}

.hidden {
    display: none;
}